body {
    background-color: #000;
    margin: 0px;
    color: #fff;
}

.main {
    background-image:  linear-gradient(135deg, rgba(30, 33, 33, 0.82) 1%, rgba(32, 32, 32, 0.14) 98%), url(/img/mainpage_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 17px;

    max-width: 940px;
    margin-left: auto;
    margin-right: auto; 
}

.main__header__logo {
    box-sizing: border-box;
    color: #fff;
    font-size: 26px;
    font-family: Lora, sans-serif;
    cursor: pointer;
}

.main__header__menu {
    display: flex;
    flex-flow: row nowrap;
    flex-wrap: nowrap;

}

.main__header__menu__item {
    padding: 10px 20px;
    font-family: Oxygen, sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    cursor: pointer;
}

.main__content {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 184px;
    text-align: center;
    height: 500px;
    padding-top: 184px;
}

.main__content__title {
    color: #fff;
    font-family: Lora, sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 14px;
}

.main__content__subtitle {
    margin-bottom: 30px;
    font-family: Oxygen, sans-serif;
    color: hsla(0, 0%, 100%, 0.63);
    font-size: 18px;
    font-weight: 300;
}

.main__content__button {
    padding: 12px 31px;
    border-radius: 3px;
    border: none;
    background-color: #dd783f;
    font-family: Oxygen, sans-serif;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
}

.categories {
    background: #fff;
    padding-top: 9px;
    padding-bottom: 9px;
}

.categories__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    max-width: 940px;
    margin-left: auto;
    margin-right: auto; 
}

.categories__list__item {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    margin-left: -10px;
    margin-right: -10px;
    color: #768088;
    text-align: center;
    text-decoration: none;

    width: 160px;
}

.categories__list__item__link {
    font-family: Lora, sans-serif;
    font-size: 14px;
    margin-right: 1px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 3px;
    color: #768088;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.categories__list__item__link:hover {
    transition: all 200ms ease;
    background: #33333315;
}

.posts {
    background-color: #f7f7f7;
}

.posts__featured {
    text-align: center;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto; 
}

.posts__featured__title {
    font-family: Oxygen, sans-serif;
    padding-top: 60px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
}

.posts__featured__divider {
    width: 20%;
    height: 1px;
    margin: 16px auto;
    background-color: #dedede;
    list-style-type: lower-alpha;
}

.posts__featured__items {
    display: flex;
    flex-wrap: nowrap;
}

.posts__featured__items__item {
    position: static;
    width: 460px;
    height: 280px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 3px;
    background-position: 50% 50%;
    background-size: cover;
    text-align: left;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;

    cursor: pointer;
}

.posts__featured__items__item__bg {
    width: 460px;
    height: 280px;  
    position: absolute;
}

.posts__featured__items__item__title {
    font-family: Lora, sans-serif;
    font-size: 27px;
    line-height: 30px;
    color: #fff;
    position: relative;

    margin-bottom: 4px;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 160px;
}

.posts__featured__items__item__description {
    font-family: Oxygen, sans-serif;
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 14px;
    line-height: 25px;
    text-align: left;
    padding-left: 20px;
    padding-right: 40px;
    position: relative;
}

.posts__featured__items__item__details {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 15px;
    display: block;
    position: relative;
}

.posts__featured__items__item__details__author-image {
    position: static;
    border-radius: 60px;
    width: 26px;
    height: 26px;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

.posts__featured__items__item__details__author-name {
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 12px;
    font-family: Oxygen, sans-serif;
    float: left;
    font-family: Oxygen, sans-serif;
    color: #999;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.posts__featured__items__item__details__post-date {
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 12px;
    font-family: Oxygen, sans-serif;
    float: right;
    font-family: Oxygen, sans-serif;
    color: #999;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}






.posts__recent {
    text-align: center;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto; 
}

.posts__recent__title {
    font-family: Oxygen, sans-serif;
    margin-top: 60px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
}

.posts__recent__divider {
    width: 20%;
    height: 1px;
    margin: 16px auto;
    background-color: #dedede;
    list-style-type: lower-alpha;
}

.posts__recent__items {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.posts__recent__items__item {
    width: 33%;
    display: block;
    border-radius: 3px;
    background: #fff;
    margin-bottom: 13px;
    margin: 6px 12px;
    background-size: cover;
}

.posts__recent__items__item__bg {
    display: block;
    background-size: cover;
    width: 100%;
    height: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #d6d6d6;
    background-position: 50% 50%;

}

.posts__recent__items__item__text {
    position: relative;
    overflow: hidden;
    height: 93px;
    padding: 13px;
    border-top: 1px solid #e5e5e5;
    text-align: left;
}

.posts__recent__items__item__text__title {
    display: inline-block;
    margin-bottom: 6px;
    color: #101315;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    text-decoration: none;
    text-align: left;
    font-family: Lora, sans-serif;
}

.posts__recent__items__item__text__description {
    overflow: hidden;
    height: 40px;
    font-family: Oxygen, sans-serif;
    color: #7a7a7a;
    font-size: 13px;
    line-height: 19px;
}

.posts__recent__items__item__details {
    padding: 6px 13px;
    border-top: 1px solid #efefef;
    background-color: #fcfcfc;
    height: 35px;
}

.posts__recent__items__item__details__author-image{
    position: static;
    right: 10px;
    bottom: 10px;
    width: 26px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 0px;
    float: left;
    border-radius: 60px;
}

.posts__recent__items__item__details__author-name {
    float: left;
    font-family: Oxygen, sans-serif;
    color: #999;
    font-size: 12px;
    line-height: 35px;
}

.posts__recent__items__item__details__post-date {
    display: inline-block;
    float: right;
    font-family: Oxygen, sans-serif;
    color: #999;
    font-size: 12px;
    line-height: 35px;
}