h1 {
    font-family: Lora; 
}

body
{
    font-family: Lora, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

div {
    display: block;
}

header
{
    color: #fff;
    position:relative;
}

.navbar {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    padding-top: 17px;
    padding-bottom: 17px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.33), transparent 99%);
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 940px; 
    text-wrap: nowrap;
}

.nav-logo {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}

.nav-text {
    margin-top: 7px;
    color: #fff;
    font-size: 26px;
    line-height: 26px;
}

.nav-menu {
    position: relative;
    float: right;
}

.nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 10px 20px;
    opacity: 0.7;
    font-family: Oxygen, sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    
}

.mainpage {
    border: none;
    position: relative;
    height: 400px;
    padding-top: 184px;
    background-position: center center;
    background-image: linear-gradient(135deg, rgba(30, 33, 33, 0.82) 1%, rgba(30, 33, 33, 0.1) 99%), url(https://s3-alpha-sig.figma.com/img/e8cd/fde9/aa2f6c5a65e6cb78734558f7deae3b0d?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=d5xb7ntlG2kuQYIvW~ewfAv9hOSQPsAOMM4ret8b~z1FVK6suyy5y-9skTyvZWy2Px1ZxhbGPyAzmKUn6Go7zI8dQTz9glKu6l98r~UFxHKOas3RNrLlPZEuQNgi8b26XvBLWV0tP3emd8Q3Y7okKVxW~D8m8w9KmAvEV0IBH31V2d--x3PByhvtwsWdTNKlDMlq8tWsr4qvJye0W2A3jVeLK4yPyq-RzGK6lX-KrEp6gmhx20VOhpno8C9ximF0j5h0qe9vBYc2mohswIU71iastiJL6ZXK68g~m8eoi3CND2BarJciLjEonWZTg1uJiz3nhg0R0YpJpKam9WE4tg__);
    background-size: auto, cover;
    background-repeat: no-repeat;
}

.m-container {
    text-align: center;
}

.h-container {
    margin: 0;
    font-family: Oxygen;
    text-align: left;
    position: absolute;
    top: 0px;
}

.h-container li {
    display: inline;
}

.mainpage-h1 {
    font-weight: 500;
    margin-bottom: 14px;
    color: #fff;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
}

.mainpage-subheader {
    font-weight: 300;
    font-family: Oxygen, sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
    color: #fff;
    opacity: 0.63;
}

.mainpage-button {
    font-family: Oxygen;
    text-decoration: none;
    color:#fff;
    background-color: #DD783F;
    border-radius: 3px;  
    padding: 12px 31px;
    font-weight: 300; 
    border-width: 0; 
}
.mainpage-bg {
    position: absolute;
    left: 0;
    top: 0;
}

.category-section {
    position: relative;
    padding-top: 9px;
}

.category-item {
    width: 16.66666666666667%;
    display: inline-block;
}

.category-link {
    display: block;
    margin-right: 1px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 3px;
    color: #768088;
    text-align: center;
    text-decoration: none;
}

.category-row {
    margin-left: -10px;
    margin-right: -10px;
}

a {
    text-decoration: none;
}